---
title: bio
layout: layouts/home.njk
permalink: /my-bio/
cssFile: public/css/base/font.css
---
<section  id="what-this" class="lg-container">
	<p class="sm-content">I'm here to claim a little piece of the internet for myself. It's a blog, but I hope it can be a digital sketchbook for weaving threads of my personal through line.
			So when my brain is bogged down by work and living in a capitalist hellscape, I can come here and tinker with thoughts, art, code, or something else.
			</p>
</section>
<section id="resume" class="lg-container">
	<div class="content">
		<h2>Most recently</h2>
		<ul>
			<li class="row-content">
				<small>08/2022 &ndash;???</small><p>Mental health sabbatical turned funemployment</p>
			</li>
			<li class="row-content">
				<small>03/2021 &ndash;08/2022</small><p>Enterprise ux/ui designer for data ethics & privacy at Capital One </p>
			</li>
			<li class="row-content">
				<small>05/2020 &ndash;12/2020</small><p>Mobile banking ui designer for commercial clients at Truist</p>
			</li>
		</ul>
</div>
</section>
