@import "public/css/base/color.css";
@import "public/css/base/font.css";
@import "public/css/base/post.css";
@import "public/css/components/postlist.css";

/* Defaults */
:root {
	--site-margin: 10%;
	--mobile-margin: 2em;
	--page-padding: 1em 0 2em 0;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL */

html,
body {
  background: var(--off-white);
	transition: none;
}

html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
  padding: 0 32px;
}

section {
	margin: auto;
}

header {
	display: flex;
	width: 100%;
}

ul {
  list-style: none;
}

li {
  display: block;
  line-height: 1;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	overflow: scroll;
	padding: 1em;
	margin: .5em 0;
	border-radius: 0.3em;
	border: var(--divider);
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

@media screen and (max-width: 768px) {
	pre, code {
		width: 100%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-width: 0px;
}

/*- MAIN NAVIGATION & NAV PARTS-*/

nav, nav ul, nav li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1 0 0;
	gap: 58px;
}



.home-link {
	font-size: 0.25em;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

a.home-link {
	width: 100%;
}

.logo {
	background-color: transparent;
	width: 2em;
	height: 2em;
}

/* Containers */

.content {
	width: 100%;
	justify-items: center;
	background: var(--gradient);
	padding-top: 69.5px;
}

.container, .header-container, footer {
	display: flex;
	margin: auto;
}

.container {
	flex-direction: column;
	align-items: baseline;
}

.header-container {
  align-items: center;
    gap: 0.5em 1.5em;
    margin: 0.5em 0 1em 0;
    padding: 0 1em;
    width: 100%;
}

.home-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.container, .header-container {
		margin-left: var(--mobile-margin);
		margin-right: var(--mobile-margin);
	}
	.home-container {
		flex-direction: column;
	}
}

.home-latest {
	padding: 4.75em 0px 1em;
	font-size: 150%;
}
@media screen and (max-width: 768px) {
	.home-latest {
		padding: 0;
		font-size: 1em;
	}
}

.home-title {
	font-size: 75%;
	font-weight: 300;
}
@media screen and (max-width: 768px) {
	.home-title {
		font-size: 100%;
	}
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}


/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: inherit;
}

/* FOOTER */

footer {
	margin: 1em 0;
  padding: 0 1em;
  width: 100%;
}

footer, footer ul {
	display: flex;
	flex-direction: column;
	gap: 58px;
}

footer li {
	text-align: left;
}

/* DIVIDER */

hr.divider {
	border-top: var(--divider);
}


