@import "_site/css/base/color.css";
@import "_site/css/base/font.css";


/* Defaults */
:root {
	--site-margin: 10%;
	--mobile-margin: 2em;
	--page-padding: 1em 0 2em 0;
}

/* Global stylesheet */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--off-white);
}

html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
  padding: 0 32px;
}

nav {
  padding: 0.25em;
  margin: 0 0 1em 0;
}

nav,
nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 58px;
  flex: 1 0 0;
}

ul {
  list-style: none;
}

li {
  display: flex;
  width: 100%;
  align-items: center;
  line-height: 1;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	overflow: scroll;
	padding: 1em;
	margin: .5em 0;
	border-radius: 0.3em;
	border: var(--divider);
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

@media screen and (max-width: 768px) {
	pre, code {
		width: 100%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-width: 0px;
}

/* Header */
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	grid-gap: 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	height: 100%;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.logo {
	background-color: transparent;
	width: 2em;
	height: 2em;
}

/* Containers */

.content {
	width: 100%;
	justify-items: center;
	background: var(--gradient);
	padding-top: 69.5px;
}

.container, .header-container, footer {
	display: flex;
	padding: 1em 0;
	margin-left: var(--site-margin); /* or auto*/
	margin-right: var(--site-margin); /* or auto*/
}

.container {
	flex-direction: column;
	align-items: baseline;
}

.header-container {
  gap: 0.5em 1.5em;
  flex-wrap: wrap;
  align-items: center;
}

.home-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 3em;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.container, .header-container {
		margin-left: var(--mobile-margin);
		margin-right: var(--mobile-margin);
	}
	.home-container {
		flex-direction: column;
	}
}

.home-latest {
	padding: 4.75em 0px 1em;
	font-size: 150%;
}
@media screen and (max-width: 768px) {
	.home-latest {
		padding: 0;
		font-size: 1em;
	}
}

.home-title {
	font-size: 75%;
	font-weight: 300;
}
@media screen and (max-width: 768px) {
	.home-title {
		font-size: 100%;
	}
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-variation-settings: "wdth" 100, "wght" 100;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	margin-bottom: .25em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active {
	font-variation-settings: "wdth" 100, "wght" 100;
}

/* Tags */

.date-tag-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	padding-left: 0.25em;
  padding-right: 0.5em;
}
@media screen and (max-width: 768px) {
	.date-tag-container {
		margin-left: 0px;
	}
}


span.divider {
	display: inline-flex;
	border-left: var(--divider);
	height: 1em;
}

.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  padding: 0.2em 0.5em 0.2em 0.5em;
	margin: auto;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	border: var(--divider);
  text-decoration: none;
	line-height: 1;
}

.postlist-date {
	display: inline-flex;
	color: var(--text-color);
	text-decoration: none;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}


/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1 0 0;
  list-style: none;
  height: 100%;
  margin-top: 1em;
  padding: 0.25em;
}

footer ul {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

hr.divider {
	border-top: var(--divider);
}
