@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300;400&display=swap');

/* Defaults */
:root {
	--font-family: 'Roc Grotesk', -apple-system, system-ui, sans-serif, Icons;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--display-font-family: 'Fraunces', -apple-system, system-ui, serif, Icons;
	--site-margin: 114px;
	--mobile-margin: 24px;
	--page-padding: 1em 0 2em 0;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	--color-golden-95: #ffe699;
	--color-golden-60: #ffffff;

	--header-bg: var(--color-golden-60); /*rgba(244, 238, 232, 1);*/
	--gradient: linear-gradient(180deg, var(--color-golden-60) 48.65%, var(--color-golden-95) 96.35%);
	--background-color: var(--color-golden-95);
	--divider: 1px dashed var(--color-gray-90);

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		--header-bg: rgba(0, 0, 76, 1);
		--gradient: linear-gradient(180deg, rgba(0, 0, 76, 1) 0%, rgba(0, 0, 0, 1) 100%);
		--background-color: rgba(0, 0, 0, 1);
		--divider: 1px dashed rgba(255, 255, 255, 0.27);

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background: var(--background-color);
	-webkit-text-size-adjust:100%
}
html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
}

section {
	max-width: 70em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	font-family: var(--display-font-family);
	font-weight: 100;
	line-height: 1.5;
	font-size: 1.2em;
}

h1, h2 {
	font-family: var(--display-font-family), sans-serif, Icons;
	font-variation-settings: "wdth" 100, "wght" 100;
}

h3, h4 {
	font-family: var(--display-font-family), sans-serif, Icons;
	font-variation-settings: "wdth" 400, "wght" 200;
}

h1 {
	padding-top: 1em;
	font-size: 250%;
	font-weight: 300;
}


h2 {
	padding-top: 0.25em;
	font-size: 200%;
	font-weight: 300;
}

h3 {
	font-size: 145%;
	font-weight: 400;
}

h4 {
	font-size: 125%;
	font-weight: 400;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main :first-child {
	margin-top: 0;
}

header {
	width: 100%;
	justify-items: center;
	border-bottom: var(--divider);
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

img {
	max-width: 100%;
}

hr {
	display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-width: 0px;
}

/* Header */
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.logo {
	background-color: transparent;
	width: 2em;
	height: 2em;
}

/* Containers */

.content {
	width: 100%;
	justify-items: center;
	background: var(--gradient);
}

.container, .home-container, .header-container {
	padding: 1em 0;
	margin-left: var(--site-margin); /* or auto*/
	margin-right: var(--site-margin); /* or auto*/
}

.container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.header-container {
	display: flex;
	gap: 0.5em 1.5em;
	flex-wrap: wrap;
	align-items: center;
}

.home-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 3em;
}
@media screen and (max-width: 768px) {
	.container, .home-container, .header-container {
		margin-left: var(--mobile-margin);
		margin-right: var(--mobile-margin);
	}
	.home-container {
		flex-direction: column;
	}
}

.home-latest {
	padding: 4.75em 0px 1em;
	font-size: 1.5em;
}
@media screen and (max-width: 768px) {
	.home-latest {
		padding: 0;
		font-size: 1em;
	}
}

.home-title {
	max-width: 455px;
	font-size: 65%;
}
@media screen and (max-width: 768px) {
	.home-title {
		max-width: 100%;
		font-size: 100%;
	}
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-variation-settings: "wdth" 100, "wght" 100;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active {
	font-variation-settings: "wdth" 100, "wght" 100;
}

.date-tag {
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: flex-start;
	padding: 0px 0px 0.5em;
	gap: 0.3em;
}

/* Tags */

.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6em; /* 12px /16 */
  padding: 0.2em 0.3333333333333em 0.2em 0.3333333333333em; /* 1px 4px /12 */
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.2);
	border-radius: 12px; /* 3px /12 */
  text-decoration: none;
	line-height: 1;
	margin-top: 4px;
}

.postlist-date {
	display: inline-flex;
  align-items: center;
  justify-content: center;
	font-size: 0.75em; /* 12px /16 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
	color: var(--text-color);
	border-radius: 0.25em; /* 3px /12 */
	border: 1px solid transparent;
	text-decoration: none;
  line-height: 1.8;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}


/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.page-tags-list {
	padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.page-tags-list-item {
	justify-content: center;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* Footer */

.footer {
	display: flex;
	flex-direction: row;
	list-style: none;
	text-decoration: none;
	gap: 1em;
	padding-left: 0;
}

.footer-item {
	height: auto;
	text-align: left;
}

hr.divider {
	border-top: var(--divider);
}

footer.content {
	background-color: var(--header-bg);
}
