header.main-navigation {
	position: sticky;
	top: 0;
	padding: 0.25em 0;
	background-color: var(--background);
  border-bottom: var(--border);
}

/* @media screen and (max-width: 768px) {
	header.main-navigation {
		position: fixed;
	}
} */

nav {
  backdrop-filter: blur(4px);
    background-color: var(--background);
    border-radius: 36px;
    display: flex;
    flex-shrink: 0;
    height: 34px;
    margin: 4px 0;
    width: auto; /* 316px */
}

.header-container {
	display: flex;
	align-items: center;
	padding: 0 32px;
}
@media screen and (max-width: 768px) {
  .header-container {
    margin: 0;
		padding: 0;
		flex-wrap: wrap;
    justify-content: center;
  }
	nav {
		height: 64px;
	}
}


.absolute {
  height: 100%;
    position: absolute;
    width: 100%;
		padding: 1px 0;
	/* width: 342px; */
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 36px;
	height: 100%;
	opacity: 0;

  /* transition */
	-webkit-transform: translate(0);
  transform: translate(0);
  /* home = -126px, writing = -42px, projects = 42px, reading = 126px diff is 84px*/

  background-color: transparent;

  /* transition */
  transition-property: transform,background-color,opacity, border, width;
  transition-duration: 300ms;
}

@media screen and (max-width: 768px) {
	.indicator {
		height: calc(var(--lg) - 10px);
	}
}

nav a:link {
	font-family: var(--link-font);
  top: 0;
  left: 0;
  line-height: 1;
  margin: auto;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
	height: 100%;
  align-items: center;
	padding: 0 16px;
	background-color: transparent;
  border-radius: 36px;
  text-decoration: none;
	transition-property: background-color;
  transition-duration: 300ms;
}

nav > a:active {
	background-color: var(--nav-indicator-hover);
}

nav > a:focus {
	background-color: var(--nav-indicator-hover);
}
