article > header {
  display: flex;
  flex-direction: column;
}

article > section {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: var(--border);
}

.post-header {
  margin: 0;
}

.post-metadata {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/* ------- FOOTNOTES -------------------------------------*/

/* .sidenote { ------- LEAVE THIS ALONE KARIYMA -------------------------------------*/
/* float: right;
	translate: 36px;
	clear: right;
	margin-right: -50%;
	margin-top: calc(-1px * 60);
	margin-bottom: 8%;
	vertical-align: baseline;
	width: 50%;
	line-height: 160%;
	color: var(--gray);
}
@media only screen and (max-width: 912px) {
	.sidenote {
		margin-top: calc(-1px * 100);
	}
}


article {
counter-reset: sidenote;
} */

/* sup {
vertical-align: super;
margin-left: -18px;
padding-right: 4px;
text-decoration: none;
font-family: var(--body-font);
font-variation-settings: "ital" 0, "opsz" 6, "wght" 600;
font-size: 0.5em;
} */

/* [aria-describedby="sidenote-label"] {
counter-increment: sidenote;
}

a[aria-describedby="sidenote-label"]::after {
content: counter(sidenote) " ";
vertical-align: super;
margin-left: 2px;
text-decoration: none;
font-family: var(--body-font);
font-variation-settings: "ital" 0, "opsz" 6, "wght" 600;
font-size: 0.5em;
}
.sidenote > img {
margin-top: 0.5em;
} */

/* ------- PREVIOUS / NEXT -------------------------------------*/

.links-nextprev {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.next-post {
  justify-content: flex-end;
  padding-left: var(--md);
}

.previous-post {
  justify-content: flex-start;
  padding-right: var(--md);
}

/*   POSTLISTS   */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  align-self: center;
  counter-increment: start-from -1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 16px;
  border: var(--border);
	background-color: transparent;
	transition-property: background-color;
  transition-duration: 300ms;
}

.postlist-item:hover {
  background-color: var(--nav-indicator-hover);
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  color: var(--color-gray-4);
}
.postlist-date {
  word-spacing: -0.5px;
  width: 100%;
}
