---
title: Archive
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<section class="container">
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</section>
