---
title: writing
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: writing
  order: 2
---
<h1>{{ title }}</h1>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
