<section id="intro" class="lg-container">
  <div id="about" class="content">
		<h1>{{ metadata.description }}</h1>
			<p class="row-content sm-content">
				I’m a bit of a designer, I’ve helped organizations define and build
				digital products and services. <a href="/my-bio" aria-labelledby="Link to my bio"
				>Learn more about me</a> or contact me, I’m available for freelance or full-time work.
			</p>
  </div>
</section>
