<div>
	<ul class="footer">
		<li class="footer-link">
			<a href="https://github.com/kariymam/writing-blog" target="_blank" title="Github"><box-icon name='github' type='logo' ></box-icon>Github</a>
			<a href="https://www.behance.net/kariymam" target="_blank" title="Behance" target="_blank"><box-icon type='logo' name='behance' ></box-icon>Behance</a>
			<a href="https://www.instagram.com/kariymaaa/" target="_blank" title="Instagram" target="_blank"><box-icon name='instagram-alt' type='logo' ></box-icon>Instagram</a>
		</li>
		<li class="footer-item">
			Built with 11ty, Obsidian (and community themes), Netlify, and Cloudinary (for images).
			All of my personal thoughts are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a> For inquiries contact kariyma [at] oohnice [dot] design.
		</li>
	</ul>
</div>
