
	<ul class="footer">
		<li class="footer-item">
			<a href="https://github.com/kariymam/writing-blog" target="_blank" title="Github">Github</a></li>
		<li class="footer-item">
			<a href="/about" title="About">About</a></li>
	</ul>
	<ul class="footer">
			<li class="footer-item">
			<small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</small></a>.
			</li>
	</ul>
