<hr class="footer">
<ul class="footer">
	<li class="footer-item">Credits</li>
	<li class="footer-item">Email kariyma [at] oohnice [dot] design</li>
</ul>
<ul class="footer">
	<li>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</li>
</ul>
