<div>
	<ul class="footer">
		<li class="footer-link">
			<a href="https://github.com/kariymam/writing-blog/tree/draft" target="_blank" title="Github">Github</a>
			<a href="https://github.com/kariymam/writing-blog/tree/draft" target="_blank" title="Behance"><i class="ib uim-behance"></i></a>
			<a href="https://github.com/kariymam/writing-blog/tree/draft" target="_blank" title="Instagram"><i class="ib uim-instagram"></i></a>
		</li>
		<li class="footer-item">
			Built with 11ty, Obsidian (and community themes), Netlify, and Cloudinary (for images).
			All of my personal thoughts are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a> For inquiries contact kariyma [at] oohnice [dot] design.
		</li>
	</ul>
</div>
