{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<nav id="mainNav" role="navigation">
		<h2 class="visually-hidden">Top level navigation menu</h2>
		<div class="absolute">
			<div class="indicator"></div>
		</div>
			{%- for entry in collections.all | eleventyNavigation %}
				<a id="{{ entry.title }}" class="transition" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
			{%- endfor %}
</nav>
