:root {
	--off-white: #f4f4e8;
  --text: #111111;
  --gray: #525252;
	--color-gray-90: rgba(51, 51, 51, 1); /* text color*/
	--text-color-link-active: #6969f7;
	--text-color-link-visited: #0b0bea;

	--gradient: linear-gradient(180deg, var(--secondary) 48.65%, var(--primary) 96.35%);
	--divider: 1px solid var(--color-gray-90);

	--text-color: var(--color-gray-90);
	--text-color-link: var(--color-gray-90);
}

@media (prefers-color-scheme: dark) {
	:root {
		--off-white: #111111;
		--primary: rgba(8, 8, 8, 1);
		--secondary: rgba(7, 15, 37, 1);
		--color-gray-90: rgba(218, 216, 216, 1);
		--text-color: rgb(244, 244, 244);
		--text-color-link-active: #a1a1fc;
		--text-color-link-visited: #a6a6f8;
	}
}
