:root {
	/* primary */					/**    Dark Mode        **/
	--primary: #008080; /**    links, hover: rgb(106, 38, 253)       **/
	--background: #fdfcf4; /**  background: color-gray-19     **/

	/* grays */
	--color-gray-1: rgba(27, 27, 27, 1); /* 19 */
	--color-gray-2: rgba(33,36,35); /* 17 */
  --color-gray-3: rgba(51, 51, 51, 1); /* 51 */
	--color-gray-4: rgba(115, 115, 115, 1); /* 115 */
  --color-gray-5: rgba(244,240,240,1); /* 224 */

	--border: 1px solid var(--primary);
	/* text */
	--text-color: var(--primary);
	--text-color-link-active: var(--color-gray-1);
  --text-color-link-visited: var(--primary);
	--text-color-link: var(--primary);

	/*static*/
	--off-white: rgba(238, 230, 217, 0.85);
	--orange-red: rgba(255, 105, 20, 1);
	/*dynamic*/
	--nav-indicator-hover: var(--color-gray-5);
}

@media (prefers-color-scheme: dark) {
  :root {
		--primary: rgb(106, 38, 253);
    --background: var(--color-gray-19);

    --text-color: var(--color-gray-5);
    --text-color-link-active: #a1a1fc;
		--hr: 1px solid var(--color-gray-224);
  }
}
