:root {
	/*static*/
	--off-white: rgba(244, 244, 232, 1);
	--orange-red: rgba(194, 70, 0, 1);
	--color-gray-17: rgb(17, 17, 17);
  --color-gray-51: rgba(51, 51, 51, 1);
  --color-gray-90: rgba(90, 90, 90, 1);
	/*dynamic*/
	--bg-color: var(--off-white);
	--nav-indicator-hover: #fff;

	--text-color: var(--color-gray-17);
  --text-color-link-active: #6969f7;
  --text-color-link-visited: #0b0bea;
  --text-color-link: var(--orange-red);
	--hr: 1px solid var(--color-gray-90);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--color-gray-51);
		--nav-indicator-hover: var(--color-gray-90);

    --color-gray-90: rgba(218, 216, 216, 1);
    --text-color: var(--off-white);
    --text-color-link-active: #a1a1fc;
    --text-color-link-visited: #a6a6f8;
		--hr: 1px solid var(--color-gray-90);
  }
}
