@font-face {
  font-family: kepler-3-variable, sans-serif;
  src: url(https://use.typekit.net/uxs6fmy.css);
}

@font-face {
  font-family: degular-variable, sans-serif;
  src: url(https://use.typekit.net/uxs6fmy.css);
}

:root {
  --display-font: degular-variable, "Franklin Gothic Medium", "Arial Narrow",
    Helvetica, Arial, sans-serif, Icons;
  --body-font: kepler-3-variable, Georgia, Garamond, Times, serif, Icons;
}

html,
body {
  font-size: 128px;
  font-family: var(--body-font);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1;
	font-variation-settings: "ital" 0, "opsz" 30, "wght" 200;
}

h1,
h2 {
  text-align: left;
}

h3,
h4 {
  font-size: 0.2em;
  font-variation-settings: "ital" 0, "opsz" 30, "wght" 500;
}

h1 {
	font-family: var(--display-font);
  font-size: 0.5em;
}

h2 {
	font-family: var(--body-font);
	font-variation-settings: "opsz" 30, "wght" 200;
	font-style: italic;
  font-size: 0.5em;
  padding-top: 32px;
  color: var(--gray);
}

@media only screen and (max-width: 912px) {
  h1 {
    font-size: 0.5em;
  }

  h2 {
    font-size: 0.25em;
  }

  h3,
  h4 {
    font-size: 0.156em;
  }
}

p {
  font-size: 0.2em;
  font-variation-settings: "opsz" 11, "wdth" 104, "wght" 328;
  line-height: 160%;
  letter-spacing: -0.15px;
  padding: 0.625em 0;
}

@media only screen and (max-width: 912px) {
  p {
    font-size: 0.25em;
  }
}

small {
  font-size: 0.125em;
}

a,
.sidenote {
  text-decoration: none;
  counter-reset: none;
}

a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.home-link > a{
	font-size: 0.25em;
}


li {
  font-family: var(--display-font);
  text-align: center;
  line-height: normal;
  justify-content: center;
}

li > a {
  line-height: normal;
  font-variation-settings: "ital" 0, "opsz" 6, "wght" 300;
}

li.nav-link > a {
  font-size: 0.156em;
}

li.footer-link, li.footer-item {
  font-size: 0.125em;
}

li.footer-link {
	flex-direction: row;
}

.footer-item {
	max-width: 600px;
}
