@font-face {
  font-family: kepler-3-variable, sans-serif;
  src: url(https://use.typekit.net/uxs6fmy.css);
}

@font-face {
  font-family: degular-variable, sans-serif;
  src: url(https://use.typekit.net/uxs6fmy.css);
}

:root {
  --display-font: degular-variable, "Franklin Gothic Medium", "Arial Narrow",
    Helvetica, Arial, sans-serif, Icons;
  --body-font: kepler-3-variable, Georgia, Garamond, Times, serif, Icons;

}

/* FONT SIZE SETTINGS */

html,
body {
  font-size: 128px;
  font-family: var(--body-font);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1,
h2 {
  text-align: left;
	line-height: 110%;
}

h3,
h4 {
  font-size: 0.2em;
}

h1 {
  font-size: 0.5em;
}

h2 {
  font-size: 0.5em;
  margin-top: 0.25em;
}

@media only screen and (max-width: 912px) {
  h1 {
    font-size: 0.5em;
  }

  h2 {
    font-size: 0.25em;
  }

  h3,
  h4 {
    font-size: 0.156em;
  }
}

p {
  font-size: 0.156em;
  padding: 0.625em 0;
}

@media only screen and (max-width: 912px) {
  p {
    font-size: 0.25em;
  }
}

small {
  font-size: 0.125em;
}

a,
.sidenote {
  text-decoration: none;
  counter-reset: none;
}

a:visited {
  text-decoration: none;
}

.home-link{
	font-size: 0.25em;
}


li {
  line-height: normal;
  justify-content: center;
}

li > a {
  line-height: normal;
}

li.nav-link > a {
  font-size: 0.156em;
}

li.footer-link, li.footer-item {
  font-size: 0.125em;
}

.footer-link > a {
	line-height: 1;
}

ol.footnotes-list > li {
	display: list-item;
	list-style-type: decimal;
}

li::marker {
	font-size: 0.156em;
}

.footer-item {
	max-width: 600px;
}
