---
layout: layouts/base.njk
---
<!-- <div class="content">
	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev">
		{%- if previousPost %}<li><a href="{{ previousPost.url }}" aria-describedby="Previous post">{{ previousPost.data.title }}</a></li>{% endif %}{%- if nextPost %} / <li><a href="{{ nextPost.url }}" aria-describedby="Next post">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}
</div> -->
<section class="lg-container">
	<aside>
		<header class="post-header content">
			{%- if collections.posts %}
			{%- set previousPost = collections.posts | getPreviousCollectionItem %}
			{%- set nextPost = collections.posts | getNextCollectionItem %}
			{%- if nextPost or previousPost %}
			<ul class="links-nextprev">
				{%- if previousPost %}<li><a href="{{ previousPost.url }}" aria-describedby="Previous post">{{ previousPost.data.title }}</a></li>{% endif %}{%- if nextPost %} / <li><a href="{{ nextPost.url }}" aria-describedby="Next post">{{ nextPost.data.title }}</a></li>{% endif %}
			</ul>
			{%- endif %}
			{%- endif %}
			<ul class="post-metadata">
				<li><h1>{{ title }}</h1></li>
				{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<li class="sm-link">tagged <a href="{{ tagUrl }}">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
				{%- endfor %}
				<li class="sm-link"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
				<!-- {%- if nextPost %} / <li><a href="{{ nextPost.url }}" aria-describedby="Next post">{{ nextPost.data.title }}</a></li>{% endif %} -->
			</ul>
		</header>

	</aside>
	{# Only include the syntax highlighter CSS on blog posts #}
	{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
	{%- css %}{% include "public/css/base/prism-diff.css" %}{%- endcss %}
	<article class="article-wrapper">
		{% if thumb %}
			 <img src="{{ thumb }}" alt="{{ thumbAlt }}" class="article-img">
		{% endif %}
			<div class="textblock">
				<h2>{{ description }}</h2>
				<hr>
				{{ content | safe }}
			</div>
	</article>
</section>
